/* init */

body, html, h1,h2,h3,h4,h5,p {
	margin: 0;
	padding: 0;
}

.body-fon {
	background: url("../img/fon.jpg");
}
.wrapper {
	width: 90%;
	/*height: 2200px;*/
	height: auto;
	margin: 0 auto;
	background-color: #fff;
	

}
/*top*/

.top {
	width: 100%;
	height: 220px;
	/*background-image: url(../img/fon2grin.jpg);
	-webkit-background-size: cover;
	background-size: cover;*/
	
}

.logo {
	width: 30%;
	height: 220px;
	float: left;
}

.logo-img {
	width: 80%;
    height: 150px;
    /* border: 1px solid #1976D2; */
    margin-left: 36px;
    margin-top: 31px;
    background-image: url(../img/logo2.jpg);
    background-position: 50% 50%;
    background-size: 237px 150px;
    background-repeat: no-repeat;
}


	
	


.top-txt {
	width: 69.5%;
	height: 220px;
	float: left;
	/*background-image: url(../img/fon2grin.jpg);*/
}

/*.top-txt h4 {
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	color:#837CB8;
	margin-top: 30px;
}

.top-txt h5 {
	font-family: 'Roboto Condensed', sans-serif;
	color:#837CB8;
	font-size: 18px;
	font-weight: 300;
}*/

.top-txt h1 {
	font-family: 'Open Sans', sans-serif;
	color:#1976D2;
	font-weight: 500;
	margin-top: 30px;

}

.top-txt p {
	font-family: 'Open Sans', sans-serif;
}

.top-txt span {
	font-weight: 700;
}
.reward {
	width: 100%;
	height: 65px;
	
}

.reward1 {
	width: 65px;
    height: 72px;
    background-image: url(../img/medal2.jpg);
    background-position: -42% 9%;
    float: left;
    margin-left: 427px;
}

.reward2 {
    width: 65px;
    height: 72px;
    background-image: url(../img/medal2.jpg);
    background-position: -58% 9%;
    float: left;
}

.reward3 {
    width: 65px;
    height: 72px;
    background-image: url(../img/medal2.jpg);
    background-position: -95% 20%;
    float: left;
}

.reward4 {
    width: 65px;
    height: 72px;
    background-image: url(../img/medal2.jpg);
    background-position: -95% 33%;
    float: left;
}

.reward5 {
    width: 65px;
    height: 72px;
    background-image: url(../img/medal2.jpg);
    background-position: -77% 33%;
    float: left;
}


/*top-nav*/

.top-nav {
   width: 100%;
   height: 50px;
   background-color: #1976D2;

}

.navs {
	width: 80%;
	height: 50px;
	margin: 0 auto;
}

.navs p {
	margin-top: 16px;
}

.nav1  {
	width: 39%;
	height: 50px;
	float: left;
	text-align: center;
    text-transform: uppercase;
    color:#fff;
    font-size: 16px; 
    font-family: 'Roboto Condensed', sans-serif; 
     transition: 1s;   
}

.nav1:hover  {
	width: 39%;
	height: 50px;
	float: left;
	text-align: center;
    text-transform: uppercase;
    color:#fff;
    font-size: 16px; 
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #328FEB;
    transition: 1s;    
}



.nav3  {
	width: 20%;
	height: 50px;
	float: left;
	text-align: center;
    text-transform: uppercase;
    color:#fff;
    font-size: 16px; 
    font-family: 'Roboto Condensed', sans-serif;
    transition: 1s;
}

.nav3:hover  {
	width: 20%;
	height: 50px;
	float: left;
	text-align: center;
    text-transform: uppercase;
    color:#fff;
    font-size: 16px; 
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #328FEB;
    transition: 1s;
}

.nav4  {
	width: 20%;
	height: 50px;
	float: left;
	text-align: center;
    text-transform: uppercase;
    color:#fff;
    font-size: 16px; 
    font-family: 'Roboto Condensed', sans-serif;
    transition: 1s;
}

.nav4:hover  {
	width: 20%;
	height: 50px;
	float: left;
	text-align: center;
    text-transform: uppercase;
    color:#fff;
    font-size: 16px; 
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #328FEB;
    transition: 1s;
}

.nav5  {
	width: 20%;
	height: 50px;
	float: left;
	text-align: center;
	text-transform: uppercase;
	color:#fff;
	font-size: 16px;
	font-family: 'Roboto Condensed', sans-serif; 
    transition: 1s;
}

.nav5:hover  {
	width: 20%;
	height: 50px;
	float: left;
	text-align: center;
	text-transform: uppercase;
	color:#fff;
	font-size: 16px;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #328FEB; 
    transition: 1s;
}




/*top-banners*/

.top-banners {
	width: 100%;
	height: 100px;
	

}

.ban1-txt p {
	color: #2E7AD3;
    font-size: 14px;
    margin-left: 17px;
    font-family: 'Open Sans', sans-serif;
}

.ban2-txt p {
	color: #2E7AD3;
    font-size: 13px;
    margin-top: 3px;
    margin-left: 17px;
    font-family: 'Open Sans', sans-serif;
}

.ban3-txt p {
	color: #2E7AD3;
    font-size: 13px;
    margin-top: 3px;
    margin-left: 17px;
    font-family: 'Open Sans', sans-serif;
}

.ban4-txt p {
	color: #2E7AD3;
    font-size: 13px;
    margin-top: 3px;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
}

.ban5-txt p {
	color: #2E7AD3;
    font-size: 13px;
    margin-top: 3px;
    margin-left: 2px;
    font-family: 'Open Sans', sans-serif;
}




.ban1,
.ban2,
.ban3,
.ban4,
.ban5 {
	width: 19%;
    height: 80px;
    margin-top: 10px;
    float: left;
    margin-left: 9px;
    border: 1px dotted #1976D2;
    transition: 1s;
    cursor: pointer;

}


.ban1:hover,
.ban2:hover,
.ban3:hover,
.ban4:hover,
.ban5:hover {
	width: 19%;
    height: 80px;
    margin-top: 10px;
    float: left;
    margin-left: 9px;
    border: 1px dotted #1976D2;
    background-color:rgba(50,143,235,0.1);
    transition: 1s;
    cursor: pointer;
}

.ban1-img {
	width: 39%;
	height: 78px;
	float: left;
	

}

.ban1-txt {
	width: 59%;
	height: 78px;
	float: left;
	
}

.ban2-img {
	width: 39%;
	height: 78px;
	float: left;
	

}

.ban2-txt {
	width: 59%;
	height: 78px;
	float: left;
	
}

.ban3-img {
	width: 39%;
	height: 78px;
	float: left;
	

}

.ban3-txt {
	width: 59%;
	height: 78px;
	float: left;
	
}

.ban4-img {
	width: 39%;
	height: 78px;
	float: left;
	

}

.ban4-txt {
	width: 59%;
	height: 78px;
	float: left;
	
}

.ban5-img {
	width: 39%;
	height: 78px;
	float: left;
	

}

.ban5-txt {
	width: 59%;
	height: 78px;
	float: left;
	
}



/*content*/

.content {
	width: 100%;
	height: auto;
}
.chif {
	width: 100%;
	height: 300px;
	
}

.chif-img {
	width: 80%;
	height: 222px;
	margin: 0 auto;
	margin-top: 20px;
	
}
.chif-txt {
	width: 100%;
	height: 45px;
	margin-top: 10px;
	text-align: center;
}

.chif-txt p {
    color:#1976D2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;

}


.content-left-nav {
	width: 30%;
	float: left;
	height: auto;
	 /*border:1px solid #1976D2;*/
}

.content-right-main {
	width: 69.5%;
	float: left;
	height: auto;
	 /*border:1px solid #1976D2;*/
}


.left-nav {
	width: 79%;
	height: 700px;
	margin: 0 auto;
	/* border:1px solid #1976D2;*/
	background-color: #1976D2;
	margin-bottom: 29px;
}


.left-nav a {
	text-decoration:none;
}

.navs1 {
	width: 100%;
    height: 40px;
    border-bottom: 1px dotted #fff;
     transition: 1s;
}

.navs1:hover {
	width: 100%;
    height: 40px;
    background-color:#328FEB;
     transition: 1s;
}


.navs1 h3 {
	text-transform: uppercase;
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 49px;
    padding-top: 9px;
     font-weight: 200;
}


.navs2 {
	width: 100%;
    height: 80px;
    border-bottom: 1px dotted #fff;
     transition: 1s;
}

.navs2:hover {
	width: 100%;
    height: 80px;
    background-color:#328FEB;
     transition: 1s;
}

.navs2 h3 {
	text-transform: uppercase;
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 49px;
    padding-top: 7px;
     font-weight: 200;
}

.navs3 {
	width: 100%;
    height: 60px;
    border-bottom: 1px dotted #fff;
     transition: 1s;
}

.navs3:hover {
	width: 100%;
    height: 60px;
    background-color:#328FEB;
     transition: 1s;
}


.navs3 h3 {
	text-transform: uppercase;
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 49px;
    padding-top: 9px;
     font-weight: 200;
}

.navs4 {
	width: 100%;
    height: 40px;
    border-bottom: 1px dotted #fff;
     transition: 1s;
}

.navs4:hover {
	width: 100%;
    height: 40px;
    background-color:#328FEB;
     transition: 1s;
}


.navs4 h3 {
	text-transform: uppercase;
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 49px;
    padding-top: 9px;
     font-weight: 200;
}

.navs5 {
	width: 100%;
    height: 40px;
    border-bottom: 1px dotted #fff;
     transition: 1s;
}

.navs5:hover {
	width: 100%;
    height: 40px;
    background-color:#328FEB;
     transition: 1s;
}


.navs5 h3 {
	text-transform: uppercase;
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 49px;
    padding-top: 9px;
     font-weight: 200;
}

.navs6 {
	width: 100%;
    height: 40px;
    border-bottom: 1px dotted #fff;
     transition: 1s;
}

.navs6:hover {
	width: 100%;
    height: 40px;
    background-color:#328FEB;
     transition: 1s;
}


.navs6 h3 {
	text-transform: uppercase;
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 49px;
    padding-top: 9px;
     font-weight: 200;
}

.navs7 {
	width: 100%;
    height: 60px;
    border-bottom: 1px dotted #fff;
     transition: 1s;
}

.navs7:hover {
	width: 100%;
    height: 60px;
    background-color:#328FEB;
     transition: 1s;
}


.navs7 h3 {
	text-transform: uppercase;
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 49px;
    padding-top: 9px;
     font-weight: 200;
}

.navs8 {
	width: 100%;
    height: 40px;
    border-bottom: 1px dotted #fff;
     transition: 1s;
}

.navs8:hover {
	width: 100%;
    height: 40px;
    background-color:#328FEB;
     transition: 1s;
}


.navs8 h3 {
	text-transform: uppercase;
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 49px;
    padding-top: 9px;
     font-weight: 200;
}

.navs9 {
	width: 100%;
    height: 40px;
    border-bottom: 1px dotted #fff;
     transition: 1s;
}

.navs9:hover {
	width: 100%;
    height: 40px;
    background-color:#328FEB;
     transition: 1s;
}


.navs9 h3 {
	text-transform: uppercase;
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 49px;
    padding-top: 9px;
     font-weight: 200;
}

.navs10 {
	width: 100%;
    height: 40px;
    border-bottom: 1px dotted #fff;
     transition: 1s;
}

.navs10:hover {
	width: 100%;
    height: 40px;
    background-color:#328FEB;
     transition: 1s;
}


.navs10 h3 {
	text-transform: uppercase;
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 49px;
    padding-top: 9px;
     font-weight: 200;
}

.navs11 {
	width: 100%;
    height: 60px;
    border-bottom: 1px dotted #fff;
     transition: 1s;
}

.navs11:hover {
	width: 100%;
    height: 60px;
    background-color:#328FEB;
     transition: 1s;
}


.navs11 h3 {
	text-transform: uppercase;
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 49px;
    padding-top: 9px;
     font-weight: 200;
}

.navs12 {
	width: 100%;
    height: 40px;
    border-bottom: 1px dotted #fff;
     transition: 1s;
}

.navs12:hover {
	width: 100%;
    height: 40px;
    background-color:#328FEB;
     transition: 1s;
}


.navs12 h3 {
	text-transform: uppercase;
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 49px;
    padding-top: 9px;
     font-weight: 200;
}

.navs13 {
	width: 100%;
    height: 40px;
    border-bottom: 1px dotted #fff;
     transition: 1s;
}

.navs13:hover {
	width: 100%;
    height: 40px;
    background-color:#328FEB;
     transition: 1s;
}


.navs13 h3 {
	text-transform: uppercase;
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 49px;
    padding-top: 9px;
     font-weight: 200;
}

.navs14 {
	width: 100%;
    height: 40px;
    border-bottom: 1px dotted #fff;
     transition: 1s;
}

.navs14:hover {
	width: 100%;
    height: 40px;
    background-color:#328FEB;
     transition: 1s;
}


.navs14 h3 {
	text-transform: uppercase;
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	margin-left: 49px;
    padding-top: 9px;
     font-weight: 200;
}




/*main-slider*/


.main-slider {
	width: 100%;
	height: 310px;
	

}

.wiget {
	width: 100%;
	height: 120px;
}

.wiget-line {
	width: 23%;
	height: 110px;
	border:1px solid #1976D2;
	margin-left: 5px;
	margin-top: 5px;
	float: left;
}

/*news*/

.news {
	width: 100%;
	height: auto;
	border:1px dotted #1976D2;
	clear: both;
	margin-top: 20px;
}

.news-head {
	width: 50%;
	height: 50px;
	margin: 0 auto;
	background-color: #1976D2;
}

.news-head h2 {
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	padding-top: 8px;
}

.news-txt1 {
	width: 95%;
	height: auto;
	margin: 0 auto;
	border:1px solid red;
}



/*video */
.video-photo {
	width: 100%;
	height: 330px;
	border:1px dotted #1976D2;
	clear: both;
	/*background-color: #F04235;*/
}

.photo {
	width: 69%;
	height: 330px;
	float: left;
}

.photo-head {
	width: 50%;
	height: 50px;
	margin: 0 auto;
	background-color: #1976D2;
}

.photo-head h2 {
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	padding-top: 8px;
}

.photo-basa {
	width: 100%;
	height: 256px;
	
}

.video {
	width: 30%;
	height: 330px;
	float: left;
}

.photo-img-1,
.photo-img-2,
.photo-img-3 {
	width: 32%;
	height: 250px;
	float: left;
	margin-left: 7px;
	border:1px dotted #1976D2;
}

/*.photo-bottom {
	width: 50%;
	height: 50px;
	margin: 0 auto;
	background-color: #1976D2;
	clear: both;
	margin-top: 3px;
}

.photo-bottom h2 {
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	padding-top: 8px;
}*/

.video-head {
	width: 50%;
	height: 50px;
	margin: 0 auto;
	background-color: #1976D2;


}

.video-head h2{
   color:#fff;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	padding-top: 8px;
}

.video-frame {
    width: 101%;
    height: 252px;
}



/*banners*/
.banners {
	width: 100%;
	height: 250px;
	/*border:1px solid #1976D2;*/
	clear: both;
}

.banners-head {
	width: 50%;
	height: 50px;
	margin: 0 auto;
	background-color: #1976D2;
	margin-top: 5px;

}

.banners-head h2 {
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	padding-top: 8px;
}

.banners-line {
	width: 100%;
	height: 100px;
	
}

.banners-line-step {
	width: 19%;
	height: 90px;
	border:1px dotted #1976D2;
	margin-left: 8px;
	margin-top: 5px;
	float: left;

}

/*footer*/
.footer {
	width: 100%;
	height: 450px;
	clear: both;
	background-color: #1976D2;

}

.footer-head {
	width: 100%;
	height: 370px;
}

.footer-map,
.footer-contact,
.footer-dop {
	width: 33%;
	height: 370px;
	float: left;
}

.footer-map-txt {
	width: 100%;
	height: 30px;
	margin: 0 auto;
}

.footer-map-txt h3 {
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	padding-top: 8px;

}

.footer-map-item {
	width: 90%;
	height: 300px;
	margin: 0 auto;
	margin-top: 20px;
}

.footer-contact-txt {
	width: 100%;
	height: 30px;
	margin: 0 auto;
}


.footer-contact-txt h3 {
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	padding-top: 8px;

}

.footer-adr-txt p {
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	margin-left: 20px;
	margin-top: 10px;
}

.footer-phone-txt p {
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	margin-left: 20px;
	margin-top: 10px;
}

.footer-email-txt p {
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	margin-left: 20px;
	margin-top: 10px;
}

.footer-contact-txt-p {
	width: 80%;
	height: 300px;
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 76px;
		
}

.footer-adr {
	width: 100%;
	height: 100px;
	margin-top: 50px;
	
}


.footer-phone {
	width: 100%;
	height: 60px;
	
}


.footer-email {
	width: 100%;
	height: 60px;
	
}

.footer-adr-icon {
	width: 20%;
    /* height: 100px; */
    margin: 0 auto;
    margin-top: 30px;
    float: left;
}

.footer-adr-txt {
	width: 79%;
	height: 60px;
	float: left;
}

.footer-phone-icon {
	width: 20%;
	height: 40px;
	float: left;
}

.footer-phone-txt {
	width: 79%;
	height: 40px;
	float: left;
}

.footer-email-icon {
	width: 20%;
	height: 40px;
	float: left;
}

.footer-email-txt {
	width: 79%;
	height: 40px;
	float: left;
}

.sign {
	width: 100%;
	height: 50px;
	border-top:1px dotted #fff;
}

.sign a {
	text-decoration: none;
}

.sign p {
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-top: 20px;
}

.footer-dop-head {
	width: 100%;
    height: 30px;
    margin: 0 auto;
}

.footer-dop-head h3 {
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	padding-top: 8px;
}

.footer-dop-form {
	width: 80%;
	height: 287px;
	margin: 0 auto;
	border:1px solid red;
	margin-top: 30px;
}
.footer-bottom {
	width: 100%;
	height: 80px;
	border-top:1px dotted #fff;
	clear: both;
}