/* init */

body, html, h1,h2,h3,h4,h5,p {
	margin: 0;
	padding: 0;
}

.body-fon {
	background: url("../img/fon.jpg");
}
.wrapper {
	width: 90%;
	height: auto;
	margin: 0 auto;
	background-color: #fff;
	margin-bottom: 50px;

	

}
/*top*/

.top {
	width: 100%;
	height: 195px;
	background-image: url(../img/foni-dlya-detskoy-knigi.jpg);
    background-position: 50% 50%;
    background-size: 1215px 196px;
    background-repeat: no-repeat;
		
}

.logo {
	width: 30%;
	height: 220px;
	float: left;
}

.logo-img {
	width: 80%;
    height: 200px;
    margin-left: 36px;
    background-image: url(../img/logo2.jpg);
    background-position: 50% 50%;
    background-size: 237px 170px;
    background-repeat: no-repeat;
}


	
	


.top-txt {
	width: 69.999%;
    float: left;
    height: 195px;
  /*  background-image: url(../img/fontop2.jpeg);*/
}

/*.fontop2 {
	width: 100%;
	background-image: url(../img/fon3top.jpeg);
	background-position:center;
	background-size:cover;
	height: 185px;
}*/

.empty-top {
	width: 100%;
	height: 11px;
}

.top-txt h1 {
	font-family: 'Open Sans', sans-serif;
	color:#1976D2;
	font-weight: 500;
	margin-top: 30px;

}

.top-txt p {
	font-family: 'Open Sans', sans-serif;
}

.top-txt span {
	font-weight: 700;
}
.reward {
	width: 85%;
	height: 65px;

	
}

.medal {
	width: 65px;
    height: 72px;
   
    float: right;
    
}





/*top-nav*/

.top-nav {
   width: 100%;
   height: 55px;
   /*background-color: #1976D2;*/

}



.navs {
	width: 55%;
	float: right;
	height: 30px;
	background-color: #1976D2;
	-webkit-border-radius: 3px;
-webkit-border-bottom-right-radius: 0;
-moz-border-radius: 3px;
-moz-border-radius-bottomright: 0;
border-radius: 3px;
border-bottom-right-radius: 0;
	margin-right: -15px;
}


.navs ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
  margin-top: 7px;
}
.navs a {text-decoration: none; /*убираем подчеркивание текста ссылок*/
    font-family: Arial, Helvetica, sans-serif;
	color:#fff;
	margin-top: 10px;
}

.navs li {
	display: inline;
	margin-left: 52px;
	
	
}

.dekor {
    position: relative;
    margin-top: 5px;
    float: right;
    width: 0;
    height: 0;
    border-top: 10px solid #51AEF3;
    border-right: 15px solid transparent;	
}

/*welcome*/
.welcome {
	width: 100%;
	height: auto;
	/*border:1px solid red;*/
}

.welcome-left {
	float: left;
	width: 30%;
	height: 400px;
	/*border:1px solid green;*/
}

.welcome-right{
	width: 100%;
	height: auto;
	/*border:1px solid green;*/
}

.welcome-right h3 {
	/*color: #1976D2;*/
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    margin: 40px;
    cursor: pointer;
    color:#d50000 ;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
    font-size: 23px;
}

.welcome-right h3:hover {
	color: #1976D2;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    margin: 40px;
    cursor: pointer;
    /*color:#d50000 ;*/
    /*text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);*/

}

.welcome-right h4 {
	color: #1976D2;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

}


.welcome-right p {
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    text-indent:20px

}
  

.info-txt {
	width: 100%;
	height: auto;
	display: none;
}

/*top-banners*/
/*
.top-banners {
	width: 100%;
	height: 100px;
	

}

.ban1-txt p {
	color: #2E7AD3;
    font-size: 14px;
    margin-left: 17px;
    font-family: 'Open Sans', sans-serif;
}

.ban2-txt p {
	color: #2E7AD3;
    font-size: 13px;
    margin-top: 3px;
    margin-left: 17px;
    font-family: 'Open Sans', sans-serif;
}

.ban3-txt p {
	color: #2E7AD3;
    font-size: 13px;
    margin-top: 3px;
    margin-left: 17px;
    font-family: 'Open Sans', sans-serif;
}

.ban4-txt p {
	color: #2E7AD3;
    font-size: 13px;
    margin-top: 3px;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
}

.ban5-txt p {
	color: #2E7AD3;
    font-size: 13px;
    margin-top: 3px;
    margin-left: 2px;
    font-family: 'Open Sans', sans-serif;
}




.ban1,
.ban2,
.ban3,
.ban4,
.ban5 {
	width: 19%;
    height: 80px;
    margin-top: 10px;
    float: left;
    margin-left: 9px;
    border: 1px dotted #1976D2;
    transition: 1s;
    cursor: pointer;

}


.ban1:hover,
.ban2:hover,
.ban3:hover,
.ban4:hover,
.ban5:hover {
	width: 19%;
    height: 80px;
    margin-top: 10px;
    float: left;
    margin-left: 9px;
    border: 1px dotted #1976D2;
    background-color:rgba(50,143,235,0.1);
    transition: 1s;
    cursor: pointer;
}

.ban1-img {
	width: 39%;
	height: 78px;
	float: left;
	

}

.ban1-txt {
	width: 59%;
	height: 78px;
	float: left;
	
}

.ban2-img {
	width: 39%;
	height: 78px;
	float: left;
	

}

.ban2-txt {
	width: 59%;
	height: 78px;
	float: left;
	
}

.ban3-img {
	width: 39%;
	height: 78px;
	float: left;
	

}

.ban3-txt {
	width: 59%;
	height: 78px;
	float: left;
	
}

.ban4-img {
	width: 39%;
	height: 78px;
	float: left;
	

}

.ban4-txt {
	width: 59%;
	height: 78px;
	float: left;
	
}

.ban5-img {
	width: 39%;
	height: 78px;
	float: left;
	

}

.ban5-txt {
	width: 59%;
	height: 78px;
	float: left;
	
}*/



/*content*/

.content {
	width: 100%;
	height: auto;
}
.chif {
	width: 100%;
	height: 300px;
	
}

.chif-img {
	width: 80%;
    height: 160px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 100px;
	
}
.chif-txt {
	width: 100%;
	height: 45px;
	margin-top: 10px;
	text-align: center;
}

.chif-txt p {
    color:#1976D2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;

}


.content-left-nav {
	width: 30%;
	float: left;
	height: auto;
	margin-top: 35px;
	 
}

.content-right-main {
	width: 69.5%;
	float: left;
	height: auto;
	
}


.left-nav {
	width: 70%;
	height: auto;
	margin: 0 auto;
	/*background-color: #1976D2;*/
	margin-bottom: 29px;
	margin-top: 20px;
	margin-left: 55px;

}


.left-nav a {
	text-decoration:none;
}




.navs2 {
	width: 100%;
    height: auto;
    border-bottom: 1px dotted #fff;
    transition: 1s;
    cursor: pointer;
    border-bottom:1px dotted #1976D2;
}

.navs2:hover {
	width: 100%;
    height: auto;
    /*background-color:#328FEB;*/
     background-color:rgba(50,143,235,0.1);
     transition: 1s;
     border-bottom:1px solid #1976D2;
}

.navs2 h3 {
	color:#1976D2;
	font-family: 'Roboto Condensed', sans-serif;
	padding-top: 10px;
    font-weight: 200;
    font-size: 17px;
}

.navs2-inner
 {
	width: 99.1%;
	height: auto;
	background-color: #fff;
	color:#1976D2;
	display: none;
}

.navs2-inner p {
	margin-left: 60px;
	border-bottom:1px dotted #1976D2;
	margin-top: 9px;
	font-size: 15px;
	font-family: 'Roboto Condensed', sans-serif;

}

.navs2-inner p:hover {
	margin-left: 60px;
	border-bottom:1px solid #1976D2;
	background-color:rgba(50,143,235,0.1);
	margin-top: 9px;
	font-size: 16px;
	font-family: 'Roboto Condensed', sans-serif;

}


.navs2-inner a {
	color:#1976D2;
}


/*main-slider*/

.main-slider {
	width: 100%;
	height: 200px;

}


.wiget {
	width: 100%;
	height: 120px;
}

.wiget-line {
	width: 23%;
	height: 110px;
	/*border:1px solid #1976D2;*/
	margin-left: 5px;
	margin-top: 5px;
	float: left;
}

.ban-left{
	width: 80%;
	height: auto;
	padding-bottom: 10px;
	margin: 0 auto;
	/*border:1px solid red;*/
	background-color: rgba(50,143,235,0.1);
}

.ban-left-empty {
	width: 80%;
	height: 15px;
	background-color: rgba(50,143,235,0.1);

}

.ban-left-element {
	width: 89%;
    height: 85px;
	margin-top: 10px;
	margin: 0 auto;
	background-color: #fff;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

}

.el-img {
	width: 40%;
	height: 85px;
	float: left;
	/*border:1px solid red;*/
}

.el-txt {
	width: 58%;
	height: 85px;
	float: left;
	/*border:1px solid red;*/
}
/*news*/



.news {
	width: 100%;
	height: auto;
	clear: both;
	margin-top: 20px;
}

.news-head {
	width: 50%;
	height: 50px;
	margin: 0 auto;
	
}

.news-head h2 {
	color:#000;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	padding-top: 11px;
	margin-top: 8px;
	font-family: 'Philosopher', sans-serif;
	
}

.news-txt1 {
	width: 95%;
	height: auto;
	margin: 0 auto;
	margin-top: 15px;
}

.news-txt1 p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}



.news-txt1 a {
	text-decoration: none;
	color: #1976D2;
}


.news-ob {
	width: 100%;
	height: auto;
	clear: both;
	margin-top: 20px;
	background-color: #FFF2F2;
	padding-bottom: 20px;
}

.news-head-ob {
	width: 50%;
	height: 50px;
	margin: 0 auto;
	
}

.news-head-ob h2 {
	color:#000;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	padding-top: 11px;
	margin-top: 8px;
	font-family: 'Philosopher', sans-serif;
	
}

.news-txt1-ob {
	width: 95%;
	height: auto;
	margin: 0 auto;
	margin-top: 15px;
}

.news-txt1-ob p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}


.news-txt1 span {
	font-weight: 700;
	color: #1976D2;
	text-decoration: underline;
}

.news-txt1 a {
	text-decoration: none;
	color: #1976D2;
}




/*video */
.video-photo {
	width: 100%;
	height: 420px;
	clear: both;
	background-color: rgba(50,143,235,0.1);
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 7px;
}

.photo {
	width: 61%;
	height: auto;
	float: left;
	
}

.photo-head {
	width: 50%;
	height: 50px;
	margin: 0 auto;
	/*background-color: #1976D2;*/
	margin-top: 8px;
	margin-bottom: 8px;

}

.photo-head h2 {
	color:#000;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	padding-top: 11px;
	font-family: 'Philosopher', sans-serif;
}

.photo-basa {
	width: 100%;
	height: auto;
	margin-left: 30px;
	
}

.video {
	width: 33%;
    height: 300px;
    float: left;
    margin-left: 27px;
}

.photo-img  {
	width: 32%;
    float: left;
    margin-left: 7px;
    
	
}

.photo-img img {
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	/*border:5px solid #1976D2;*/
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.photo-img:nth-child(4),
.photo-img:nth-child(5),
.photo-img:nth-child(6)  {
	margin-top: 15px;
}


.video-head {
	width: 50%;
	height: 50px;
	margin: 0 auto;
	/*background-color: #1976D2;*/
	margin-top: 8px;
	margin-bottom: 8px;

}

.video-head h2{
   color:#000;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	padding-top: 11px;
	font-family: 'Philosopher', sans-serif;
}

.video-frame {
    width: 100%;
    height: 322px;
    margin: 0 auto;
    
}



/*banners*/
.banners {
	width: 100%;
	height: auto;
	clear: both;
	padding-top: 5px;
	padding-bottom: 210px;
	background-color: #FFF2F2;
}

.banners-head {
	width: 50%;
	height: 50px;
	margin: 0 auto;
	/*background-color: #1976D2;*/
	margin-top: 5px;

}

.banners-head h2 {
	color:#000;
	text-align: center;
	text-transform: uppercase;
	font-weight: 200;
	padding-top: 11px;
	font-family: 'Philosopher', sans-serif;
}

.banners-line {
	width: 100%;
	height: auto;
	margin-left: 18px;
	
}

.banner-block {
    width: 13.8%;
    height: 180px;
    float: left;
}
.banner-block a {
	text-decoration: none;
}

.banner-element {
	width: 80%;
	height: 95%;
	margin: 0 auto;
	-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.img-pic {
   width: 100%;
   height: 55%;
   background-color: #fff;
   -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.img-pic img {
	 -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.element-txt {
	width: 100%;
	height: 45%;
	background-color: #ADAAA7;
	-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;

}

.element-txt p {
	color:#fff;
	font-family: Arial,sans-serif;
    padding-top: 20px;
    margin-left: 10px;
    font-size: 14px;
}

.part-line {
	width: 100%;
	height: 5px;
	/*margin-top: 20px;*/

}

.color1 {
	width: 25%;
	height: 100%;
	background-color: #1294E8;
	float: left;
}

.color2 {
	width: 25%;
	height: 100%;
	background-color: #00A3C8;
	float: left;
}

.color3 {
	width: 25%;
	height: 100%;
	background-color: #00AC64;
	float: left;
}

.color4 {
	width: 25%;
	height: 100%;
	background-color: #FF5D5E;
	float: left;
}

/*footer*/
.footer {
	width: 100%;
	height: auto;
	clear: both;
	background-color: #F3F7FA;
    padding-top: 30px;
    -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

.footer-head {
	width: 100%;
	height: auto;
}

.footer-map,
.footer-contact,
.footer-dop {
	width: 33%;
	height: auto;
	float: left;
}

.footer-map-txt {
	width: 100%;
	height: 30px;
	margin: 0 auto;
}

.footer-map-txt h3 {
	/*color:#fff;*/
	color:#000;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	padding-top: 8px;

}

.footer-map-item {
	width: 90%;
	height: 300px;
	margin: 0 auto;
	margin-top: 20px;
	padding-left: 41px;
}

.footer-contact-txt {
	width: 100%;
	height: 30px;
	margin: 0 auto;
}


.footer-contact-txt h3 {
	/*color:#fff;*/
	color:#000;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	padding-top: 8px;

}

.footer-adr-txt p {
	/*color:#fff;*/
	color:#000;
	font-family: 'Open Sans', sans-serif;
	margin-left: 20px;
	margin-top: 10px;
}

.footer-phone-txt p {
	/*color:#fff;*/
	color:#000;
	font-family: 'Open Sans', sans-serif;
	margin-left: 20px;
	margin-top: 10px;
}

.footer-email-txt p {
	/*color:#fff;*/
	color:#000;
	font-family: 'Open Sans', sans-serif;
	margin-left: 20px;
	margin-top: 10px;
}

.footer-contact-txt-p {
	width: 80%;
	height: 300px;
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 76px;
		
}

.footer-adr {
	width: 100%;
	height: 100px;
	/*margin-top: 50px;*/
	
}


.footer-phone {
	width: 100%;
	height: auto;
	
	
}


.footer-email {
	width: 100%;
	height: auto;
	margin-top: 60px;
	
}

.footer-adr-icon {
	width: 20%;
    margin: 0 auto;
    margin-top: 23px;
    float: left;
}

.footer-adr-txt {
	width: 79%;
	height: 60px;
	float: left;
}

.footer-phone-icon {
	width: 20%;
	height: 40px;
	float: left;
}

.footer-phone-txt {
	width: 79%;
	height: 40px;
	float: left;
}

.footer-email-icon {
	width: 20%;
	height: 40px;
	float: left;
}

.footer-email-txt {
	width: 79%;
	height: 40px;
	float: left;
}

.empty-footer {
	width: 100%;
	height: 10px;
}

.sign {
	width: 100%;
	height: 50px;
	border-top:1px dotted #000;
	margin-top: 120px;
}

.sign a {
	text-decoration: none;
}

.sign p {
	
	color:#000;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-top: 20px;
}

.footer-dop-head {
	width: 100%;
    height: 30px;
    margin: 0 auto;
}

.footer-dop-head h3 {
	
	color:#000;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	padding-top: 8px;
}

.footer-dop-form {
	width: 80%;
	height: auto;
	margin: 0 auto;
	margin-top: 30px;
}

input[type="text"] {
	width: 93%;
    height: 35px;
	border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
	
}
.empty {
	width: 100%;
	height: 5px;
}
input[type="email"] {
	width: 93%;
    height: 35px;
	border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
	
}

::-webkit-input-placeholder {
	
	color:#000;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
::-moz-placeholder          {
	
	color:#000;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	}/* Firefox 19+ */
:-moz-placeholder           {
	
	color:#000;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	}/* Firefox 18- */
:-ms-input-placeholder      {
	
	color:#000;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}



textarea {
	width: 93%;
	height: 60px;
	resize: none;
	border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    color:#000;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
	
}

.form-btn {
	width: 70%;
	height: 40px;
	margin: 0 auto;
	background-color: #1976D2;
	border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.form-btn p {
	/*font-family: 'Open Sans', sans-serif;*/
	text-align: center;
	color:#000;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 18px;
	padding-top: 8px;

}


.footer-bottom {
	width: 100%;
	height: 40px;
	border-top:1px dotted #fff;
	clear: both;
	-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

.footer-bottom-left {
	width: 70%;
	height: 30px;
	float: left;
}

.footer-bottom-left h3 {
	font-family: 'Roboto Condensed', sans-serif;
    color: #000;
    font-weight: 300;
    margin-top: 13px;
    margin-left: 38px;
    font-size: 16px;
}

.footer-bottom-right {
	width: 29%;
	height: 30px;
	float: left;
} 

.footer-bottom-right h4 {
	font-family: 'Roboto Condensed', sans-serif;
    color: #000;
    font-weight: 300;
    margin-top: 14px;
    text-align: center;
    font-size: 16px;
}